<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pearson Correlation</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <!-- Font style-->
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel="stylesheet">
        
        <link rel="stylesheet" href="../css/style.css">
    
    </head>

    <!-- Header -->
    <body>
        <header>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="../index.html" class="nav__link">Home</a></li>
                    <li class="nav__item">
                        <a href="../pdf/Marco Kushta - Resume.pdf" class="nav__link" target="_blank">Resume</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <!-- Project title and desc -->
        <section class="intro">
            <h1 class="section__title section__title--intro">
                <strong>Pearson Correlation</strong>
            </h1>
            <p class="portfolio-item-individual-subtitle">An app that takes in two values (x,y) which create a data point. After entering data points, you will be able to click the calculate button, which will provide means, standard deviation, Pearson Correlation Coefficient, and a basic interpretation. Additionally, a scatter plot will be populated with your data and provide you a regression </p>
            <p class="portfolio-item-individual-subtitle">You can enter values one by one with the add button, or you can pass in an Excel file (.xlsx) that contains the values in two columns.</p>
        </section>
        
        <!-- Main Content -->
        <div class="portfolio-item-individual">
            <form id="pearson-form">
                <input type="file" id="file-input">
                <input type="button" id="load-button" value="Load">
                <p>Please enter a CSV file that includes the data you want to analyse in column one and two.</p>
                <input type="text" id="x" placeholder="Enter x">
                <input type="text" id="y" placeholder="Enter y">
                <input type="button" id="add-button" value="Add">
                <input type="button" id="calculate-button" value="Calculate">
            </form>
            <div id="error"></div>
            <table id="data-points">
                <tr>
                    <th>X</th>
                    <th>Y</th>
                </tr>
            </table>
            <div id="results"></div>
            <canvas id="scatter-plot"></canvas>
        </div>
        
        
        
        
        <!-- Footer -->
        <footer class="footer">
            <a href="mailto:marcokushta@gmail.com">marcokushta@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/marcokushta/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/MarcoKu98">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </footer>
        
        <!-- Scripts -->
        <script src="../js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

        
    </body>
</html>